/*All*/

* {
    box-sizing: border-box;
}

/*Body*/

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}


h1,
h2,
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

p {
    font-size: 14px;
}

/*Header*/

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

.logo a {
    color: #fff;
}


.content-wrapper {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

main {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

a:link {
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 50px;
    padding: 0;
    color: #777777;
    font-size: 15px;
}

nav ul {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #777777;
}


/*Footer*/
footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    padding: 14px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    font-size: 9px;
    text-align: center;
    margin-top: 15px;
}

.copyright {
    color: #ddd;
}

/*about me page*/

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

#profile {
    float: left;
    width: 35%;
    margin-left: auto;
    margin-right: 10px;
}

.main-section p {
    line-height: 25px;
    margin-bottom: 15px;
}

hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin-bottom: 20px;
}

/*portfolio page*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.project {
    position: relative;
    float: left;
    margin: 10px 30px 30px 0;
}

.project img {
    width: 100%;
    border: 0 none;
    opacity: .5;
}


.project h3 {
    position: absolute;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 15px;
    bottom: 20px;
    border-bottom: 0;
    line-height: 30px;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: 900;
}

input[type=submit]:hover
/*contact us page*/

ul#contact-form {
    position: relative;
    margin-bottom: 20px;
    padding-left: 0;
}

#contact-form li {
    margin-bottom: 20px;
}

label {
    padding-bottom: 5px;
    font-size: 15px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}

::placeholder {
    opacity: .6;
}

input[type=submit] {
    padding: 10px 20px;
    border: none;
    background-color: #4aaaa5;
    color: #fff;
}

input[type=submit]:hover {
    background-color: #666666;
}

/* media queries */
@media screen and (max-width:980px) {
    #logo {
        margin-left: 15px;
    }

    nav {
        margin-right: 15px%;
    }

    .main-section {
        width: 75%;
        float: left;
        max-width: 640px;
        padding: 30px;
        margin: 10px 15px;
    }

    @media screen and (max-width:768px) {
        #logo {
            margin-left: 10px;
        }

        nav {
            margin-right: 10px;
        }

        .main-section {
            width: 90%;
            float: none;
            max-width: 640px;
            padding: 30px;
            margin: 10px auto;
        }
    }

    @media screen and (max-width:640px) {
        header {
            position: static;
        }
        
        #main-container {
            width: 100%;
            max-width: 580px;
            margin: 0 auto;
            clear: both;
        }

        #logo {
            float: initial;
            display: block;
            width: 100%;
        }

        #profile {
            float: initial;
            display: block;
            width: 100%;
        }

        nav {
            position: initial;
            float: none;
            top: initial;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }

        .main-section {
            width: 90%;
            float: none;
            max-width: 640px;
            padding: 30px;
            margin: 30px auto;
        }

        .footer {
            width: 100%;
        }

        #container {
            margin: 0;
        }

        .project {
            width: 100%;
            display: block;
            float: initial;
        }
    }